<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Register</title>
  <link rel="stylesheet" href="/registrationstyle.css" />
</head>
<body>
  <div class="register-card">
    <h1>Create Account</h1>

    <!--Registration form-->
    <!--enctype="multipart/form-data" to be able to upload images (if we dont write this, multer will not recognize the image)-->
    <form id="registerForm" action="/submit" method="POST" enctype="multipart/form-data">
      <div class="profile-upload-wrapper">
        <label for="profileImage" class="profile-circle" id="profilePreview">
          <span class="profile-placeholder">+</span>
          <img id="previewImg" alt="" />
        </label>
        <input
          type="file"
          id="profileImage"
          name="profileImage"
          accept="image/*"
          hidden
        />
        <p class="profile-text">Click the circle to choose a profile picture</p>
      </div>

      <!--Username-->
     <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username">
      <p class="field-hint" id="usernameHint">Choose a unique username.</p>
    </div>


    <!--Password-->
    <div class="input-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>

        <div class="password-rules" id="passwordRules">
          <p class="rules-title">Password must include:</p>
          <ul>
            <li id="rule-length">At least 8 characters</li>
            <li id="rule-upper">At least 1 uppercase lette(A-Z)r</li>
            <li id="rule-lower">At least 1 lowercase letter(a-z)</li>
            <li id="rule-number">At least 1 number(0-9)</li>
            <li id="rule-special">At least 1 special character(!#$%&|*+_/?~.;:'^@€₺)</li>
          </ul>
        </div>
    </div>
    <button type="submit" class="auth-btn">Register</button>
  </form>

<!--For displayin messages to the user-->
<% if (typeof msg !== "undefined" && msg) { %>
  <% if (Array.isArray(msg) && msg.length) { %>
    <script> alert("<%= msg[0] %>");</script> <!--Used <script> here because there cant be nested ejs tags, there will be en error-->
  <% } else { %>
    <script> alert("<%= msg %>");</script>
  <% } %>
<% } %>
</body>


<!--Once the user selects a picture, display it so they would know what will be their profile picture-->
<script>
//Get the image user uploaded from the registration form  
const fileInput = document.getElementById("profileImage");
const previewImage = document.getElementById("previewImg");
const placeholder = document.querySelector(".profile-placeholder");

fileInput.addEventListener("change", function () {

  //Store the selected image into a variable
  const file = this.files[0];

  //If the user havent selected any image do nothing
  if (!file) return;


  //If an image is selected, convert it so that the browser can display it
  const reader = new FileReader();

  reader.onload = function(e) {
      previewImage.src = e.target.result; //show the image preview
      previewImage.style.display = "block"; //make the preview visible
      placeholder.style.display = "none"; //hiding placeholder "+"
  };

  reader.readAsDataURL(file);//Display the image
});
</script>

</html>